{% extends "layout.html" %}

{% block content %}
<main id="main">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Looking to collaborate on innovative projects or discuss software solutions? 😊 Reach out to me
                    through the contact form below to start a conversation about your ideas or opportunities. 📧</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Bangalore, India</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>samiksha.nlokhande@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <!-- {{ url_for('contact') }} -->
                    <form action="{{ url_for('contact')}}" method="POST" role="form" class="php-email-form">
                        {{form.hidden_tag()}}
                        <div class="row">
                            <div class="col-md-6 form-group">

                                {{form.name.label(class="form-control-label")}}
                                {{form.name(class="form-control")}}

                                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required> -->
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                {{form.email.label(class="form-control-label")}}
                                {{form.email(class="form-control")}}

                                <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required> -->
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            {{form.subject.label(class="form-control-label")}}
                            {{form.subject(class="form-control")}}
                            <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required> -->
                        </div>
                        <div class="form-group mt-3">
                            {{form.message.label(class="form-control-label")}}
                            {{form.message(class="form-control")}}
                            <!-- <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea> -->
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            {{form.submit(class = "btn btn-outline-info php-email-form-button")}}
                            <!-- <button type="submit">Send Message</button> -->
                        </div>
                    </form>

                </div>
            </div>
        </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->

{% endblock content %}