{% extends "layout.html" %}

{% block content %}
  <main id="main">
 <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
         
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Samiksha Lokhande</h4>
              <p><em>Software Engineer with 3 years of proven expertise in Automation domain. 
               <ul>
                <li>Proficient in automating end-to-end ticketing systems.</li>
                <li>Adept at crafting alerting systems to facilitate prompt notifications for relevant teams enhancing response times.</li>
                <li>Demonstrated expertise in leading and actively participating in 10+
automation initiatives, resulting in significant cost reductions, operational enhancements, and significant savings in manual efforts.</li>
              </ul>




</em></p>
           
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Engineering - Information Technolog</h4>
              <h5>2016 - 2020</h5>
              <p><em>University of Mumbai, India</em></p>
              
            </div>
            
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Engineer</h4>
              <h5>Jul 2021 - Present</h5>
              <p><em>Bangalore, India </em></p>
              <p>
              <ul>
                <li>Automated 24/7 monitoring for incidents, promptly alerting the designated support person & automatically assigning tickets</li>
                <li>Developed and Scheduled a 24/7 URL monitoring system, automatically creating tickets & notifying relevant teams via email upon detecting downtime</li>
                <li>Created Python script to consolidate ~300 emails daily, to categorize errors to decrease the number of tickets generated</li>
                <li>Designed & implemented a dynamic UI Dashboard to effectively presented real-time ticket status</li>
                <li>Configured a Secure Sockets Layer certificate & integrated Single Sign-On functionality into the website</li>
                <li>Proficient in manipulating RESTful APIs across diverse endpoints for seamless integration</li>
              
                

              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Associate Software Engineer</h4>
              <h5>Jan 2021 – Jun 2022</h5>
              <p><em>Mumbai, India</em></p>
              <p>
              <ul>
                <li>Developed a conversational chatbot on Yellow Messenger to retrieve SAP Document details</li>
                <li>Implemented robust validations, authentication, and database integration, ensuring security & reliability</li>
                <li>Automated incident resolution of multiple complex SAP system use cases using Arago's HIRO tool </li>
                <li>Enhanced code efficiency through the development of well-structured modular code, resulting in improved reusability, maintainability, and scalability</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
  </main><!-- End #main -->

{% endblock content %}
